html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Make carousel height consistent */
.carousel-item {
  height: 100vh; /* or 500px */
  position: relative;
}

/* Make image fill slide */
.carousel-item img {
  height: 100%;
  object-fit: cover;
  transform: scale(1.1); /* start zoomed in */
  will-change: transform;
}

/* Animate ONLY the active slide */
.carousel-item.active img {
  animation: zoomOut 10s linear forwards;
}

@keyframes zoomOut {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.carousel-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55); /* dark overlay */
  z-index: 1;
}

/* Make sure caption stays above overlay */
.carousel-caption {
  z-index: 2;
}

.stats-section {
  /* background-color: red; */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../media/bg-image/bg-1.jpeg);
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.icon-circle {
  width: 70px;
  height: 70px;
  background-color: #2fa4dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.icon-circle i {
  font-size: 30px;
  color: #fff;
}

.site-footer {
  background-color: #111;
  padding: 80px 0 30px;
}

.footer-logo {
  max-width: 160px;
}

.site-footer p {
  color: #ccc;
}

.social-icon {
  width: 40px;
  height: 40px;
  background: #2fa4dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
  text-decoration: none;
}

.social-icon:hover {
  background: #1c7fb6;
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-link {
  color: #ccc;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
  text-decoration: underline;
}
